@import url(./fonts.css);
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');*/
/*обнуление*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
}
/*--------------------*/
body {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: #383838;
}
h2.heading {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}
.advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  gap: 80px;
  padding: 120px 104px 114px
}
.advantages-tittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.highlight {
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
  border: none;
}
.advantages-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 122px;
}
.advantages-images-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.footer {
  width: 1440px;
  height: 625px;
  background-color: #10367c;
  color: #ffffff;
  font-size: 20px;
  margin: 0 auto;
}
.contain {
  display: flex;
  margin: 0 auto;
  padding: 120px 272px 120px 104px;
  line-height: 2.3em;
  flex-wrap: wrap;
  row-gap: 30%;
}
h3 {
  font-weight: 500;
}
.about {
  width: 193px;
  height: 211px;
  margin-right: 223px;
}
.property {
  width: 133px;
  height: 305px;
  margin-right: 283px;
}
.support2 {
  width: 232px;
  height: 117px;
}
.copyright {
  font-size: 14px;
  margin-top: 64px;
}
