mixin advantages
  section.advantages
    .container
      .advantages__container-item
        h2.advantages__container-subtitle What do we offer
        .advantages__container-content
          figure.advantages__container-image
            svg.advantages__container-support
              use(href='#support')
            figcaption.advantages__container-desk
              | Support 24/7
          figure.advantages__container-image
            svg.advantages__container-communication
              use(href='#communication')
            figcaption.advantages__container-desk
              | Communicate directly
          figure.advantages__container-image
            svg.advantages__container-booking
              use(href='#booking')
            figcaption.advantages__container-desk
              | Book online
          figure.advantages__container-image
            svg.advantages__container-reviews
              use(href='#reviews')
            figcaption.advantages__container-desk
              | Real guest reviews
