mixin footer
  footer.footer
    .container
      .footer__container-item
        .footer__logo
          svg.footer__logo-img
            use(href='#logo-small')
        ul.footer__container-about
          li.footer__container-subtitle About
          li
            a(href='#') How Triphouse works
          li
            a(href='#') Careers
          li
            a(href='#') Privacy
          li
            a(href='#') Terms
        ul.footer__container-property
          li.footer__container-subtitle Property types
          li
            a(href='#') Guest houses
          li
            a(href='#') Hotels
          li
            a(href='#') Apartments
          li
            a(href='#') Villas
          li
            a(href='#') Holiday homes
          li
            a(href='#') Hostels
        ul.footer__container-support
          li.footer__container-subtitle Support
          li
            a(href='#') Contact Customer Service
          li
            a(href='#') FAQ
        .footer__container-copyright
          p &amp;copy 2022Triphouse, Inc. All rights reserved
