mixin homes
  section.homes
    .container
      .homes__container-item
        h2.homes__container-subtitle Homes guests loves
        .homes__container-content
          figure.homes__container-image
            img(src=require('../../assets/images/h-leopold.png'), alt='Hotel Leopold')
            figcaption.homes__container-text.homes__container-text--hotel
              | Hotel Leopold
            figcaption.homes__container-text.homes__container-text--city
              | Saint Petersburg, Russia
          figure.homes__container-image.homes__container-image--sunshine
            img(src=require('../../assets/images/a-sunshine.png'), alt='Apartment Sunshine')
            figcaption.homes__container-text.homes__container-text--hotel
              | Apartment Sunshine
            figcaption.homes__container-text.homes__container-text--city
              | Santa Cruz de Tenerife, Spain
            .arrow-mobile
          figure.homes__container-image.homes__container-image--hidden
            img(src=require('../../assets/images/v-kunerad.png'), alt='Villa Kunerad')
            figcaption.homes__container-text-hotel.homes__container-text--hotel
              | Villa Kunerad
            figcaption.homes__container-text.homes__container-text--city
              | Vysokie Tatry, Slovakia
          figure.homes__container-image.homes__container-image--hidden
            img(src=require('../../assets/images/h-friendship.png'), alt='Hostel Friendship')
            figcaption.homes__container-text.homes__container-text--hotel
              | Hostel Friendship
            figcaption.homes__container-text.homes__container-text--city
              | Berlin, Germany
            .arrow
