mixin reviews
  section.reviews
    .container
      .reviews__container-items
        h2.reviews__container-subtitle Guests reviews
        .slider
          .slider__content
            .slider__content-top
              figure.slider__content-image
                img.slider__content-image-bali(src=require('../../assets/images/bali.png'), alt='Bali')
                figcaption.slider__content-prise
                  | From 250 USD
              .slider__content-description
                .slider__content-place
                  p.slider__content-resort Ubud Bali Resort&amp;SPA
                  p.slider__content-city Bali, Indonesia
                .slider__content-analytics
                  .slider__content-rating 9,4
                  .slider__content-review-amount
                    | 1324 reviews
            .slider__content-bottom
              .slider__content-personality
                .slider__content-icon
                  svg.slider__content-icon-account
                    use(href='#account-grey')
                .slider__content-person
                  p.slider__content-surname Hanna Ivanova
                  .slider__content-flag
                    svg.slider__content-flag-size
                      use(href='#flag-ua')
                    .slider__content-country Ukraine
              p.slider__content-reviews
                | Great location, really pleasant and clean rooms, but the thing
                | that makes this such a good place to stay are the staff. All
                | of the people are incredibly helpful and generous with their
                | time and advice.
            .dots-navigation
              .dots-navigation__dots
              .dots-navigation__dots
              .dots-navigation__dots
              .dots-navigation__dots
          .slider__content.slider__content--hidden
            .slider__content-top
              figure.slider__content-image
                img(src=require('../../assets/images/rotterdam.png'), alt='Rotterdam')
                figcaption.slider__content-prise
                  | From 40 USD
              .slider__content-description
                .slider__content-place
                  p.slider__content-resort King Kong Hostel
                  p.slider__content-sity Rotterdam, Netherlands
                .slider__content-analytics
                  .slider__content-rating 8,9
                  .slider__content-review-amount
                    | 2016 reviews
            .slider__content-bottom
              .slider__content-personality
                .slider__content-icon
                  svg.slider__content-icon-account
                    use(href='#account-grey')
                .slider__content-person
                  p.slider__content-surname Adam Smith
                  .slider__content-flag
                    svg.slider__content-flag-size
                      use(href='#flag-us')
                    .slider__content-country USA
              p.slider__content-reviews
                | I&apos;ve been in this hostel for a month and here is the best
                | hostel of all
                br
                |
                | Excellent management of excellent and ethical staff and
                |
                | bedrooms Bathrooms are always clean and excellent
                br
                |
                | Most importantly, those who work here are kind and
                |
                | good-natured.
          .slider__content.slider__content--hidden
            .slider__content-top
              figure.slider__content-image
                img(src=require('../../assets/images/ourika.png'), alt='Ourika')
                figcaption.slider__content-prise
                  | From 100 USD
                .arrow
              .slider__content-description
                .slider__content-place
                  p.slider__content-resort Rokoko Hotel
                  p.slider__content-sity Ourika, Marocco
                .slider__content-analytics
                  .slider__content-rating 9,1
                  .slider__content-review-amount 815 reviews
            .slider__content-bottom
              .slider__content-personality
                .slider__content-icon
                  svg.slider__content-icon-account
                    use(href='#account-grey')
                .slider__content-person
                  p.slider__content-surname Anika Messer
                  .slider__content-flag
                    svg.slider__content-flag-size
                      use(href='#flag-ge')
                    .slider__content-country Germany
              p.slider__content-reviews
                | Efficient, friendly, professional, and appropriately
                | attentive. Great hotel in a great location. Easy access to all
                | the surrounding historical sites. Staff is fantastic. Will
                | definitely stay at this location during my next stay in
                | Marocco.
