include ../sections/top-section
include ../sections/advantages
include ../sections/homes
include ../sections/destination
include ../sections/sign-up
include ../sections/reviews
include ../sections/footer
include ../components/page
include ../components/sprite

- var pageInfo = { title: 'lesson-12' };

+page(pageInfo)
+sprite
+top-section
+advantages
+homes
+destination
+sign-up
+reviews
+footer
