@import url(./fonts.css);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: #383838;
  margin: 0 auto;
  max-width: 1440px;
}

a {
  color: #ffffff;
}

.advantages__subtitle {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  padding: 120px 104px 114px;
}

.advantages-tittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.underline {
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
  border: none;
}

.advantages-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 122px;
}

.advantages-images-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.footer {
  height: 625px;
  background-color: #10367c;
}

.footer__container {
  padding: 120px 272px 120px 104px;
  font-size: 20px;
  color: #ffffff;
  line-height: 46px;
}
.footer__container-top {
  display: flex;
  height: 305px;
}

.footer__container-subtitle {
  font-weight: 500;
}

.footer__container-about {
  margin-right: 223px;
}

.footer__container-property {
  margin-right: 283px;
}

.footer__container-bottom {
  font-size: 14px;
  margin-top: 64px;
}
